# Gradle
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# IDE
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

!gradle/wrapper/gradle-wrapper.jar
